.shortcake-bakery-insert-embed .dashicons {
	font-size: 20px;
	line-height: .9;
	vertical-align: middle;
}

.media-add-embed {
	height: 100%;
}

.embed-reverse {
	padding: 1pc;
	height: 100%;
}

.embed-reverse .error {
	color: red;
}

.custom_embed {
	line-height: 1.5;
	display: block;
	padding-bottom: 12px;
}

textarea.custom-embed-entry {
	width: 100%;
	height: 60%;
	min-height: 8em;
}
